// https://foundation.zurb.com/sites/docs/sass.html

//---------------------------------
// Grid
//---------------------------------
.grid-container {

	@include breakpoint(large) {
		padding: 0;
	}

	// The section with 3 cards.
	&.card-grid {
		@include breakpoint(large) {
			margin-bottom: 84px; // 16px more comes from cards on by default for stacking.
		}
	} // .card-grid
} // .grid-container

//---------------------------------
// Header
//---------------------------------
.header {
	margin-bottom: 90px;

	@include breakpoint(large) {
		margin-bottom: 150px;
	}
} // .header

.brand {
	margin-bottom: 0;
}

.logo {

	&:hover,
	&:active,
	&:focus {
		opacity: 0.7;
		transition: opacity 0.4s ease-in-out;
	}
}

//---------------------------------
// Navigation
//---------------------------------
.menu {

	a {
		color: $white;
		font-size: 16px;
		line-height: 1.1875;

		&:active:not(.button),
		&:focus:not(.button),
		&:hover:not(.button){
			opacity: 0.7;
			transition: opacity 0.25s ease-in-out;
		}
	} // a
} // .menu

//---------------------------------
// Mobile Nav
//---------------------------------
$offcanvas-full-screen-bg: $primary-color;
$offcanvas-full-screen-side: left;
$offcanvas-full-screen-closebutton-size: 5rem;

.offcanvas-full-screen {
	@include off-canvas-base($background: $offcanvas-full-screen-bg, $transition: 0.3s ease-in-out);
	@include off-canvas-position($position: $offcanvas-full-screen-side);

	width: 100%;
}

.offcanvas-full-screen-inner {
	padding: 16px;
	text-align: center;
}

.offcanvas-full-screen-menu {
	@include menu-base;
	@include menu-direction(vertical);

	a {
		color: $white;
		font-size: 24px;

		&:hover {
			background: darken($primary-color, 20%);
			border-radius: 100px;
			color: darken($white, 20%);
			opacity: 0.7;
			transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out;
		}
	}
}

.offcanvas-full-screen-close {
	color: $white;
	font-size: $offcanvas-full-screen-closebutton-size;

	&:hover {
		color: darken($white, 20%);
		opacity: 0.7;
		transition: opacity 0.25s ease-in-out,
	}
}

.off-canvas-content {
	display: flex;

	@include breakpoint(medium) {
		display: none;
	}
}

.main-nav {
	display: none;

	@include breakpoint(medium) {
		display: block;
	}
}

//---------------------------------
// Hero
//---------------------------------
.hero {
	color: $white;
	height: 100vh;
	padding-top: 10px;


	&__content {

	} // &__content

	&__title {

		&--big {
			color: $white;
			font-size: 34px;
			line-height: 1.2973;
			margin-bottom: 20px;
			text-align: center;

			@include breakpoint(medium) {
				font-size: 74px;
				margin-bottom: 25px;
				text-align: left;
			}
		} // &--big
	} // &__title

	&__text {
		font-size: 24px;
		margin-bottom: 110px;
		text-align: center;

		@include breakpoint(medium) {
			text-align: left;
		}

		@include breakpoint(large) {
			margin-bottom: 90px;
		}
	} // &__text

	&__button {
		border-radius: 100px;
		padding: 19px 45px;

		&--small {
			background: darken($primary-color, 10%);
			padding: 12px 25px;

			@include breakpoint(medium) {
				background: $primary-color;
			}

			&:active,
			&:focus,
			&:hover {
				opacity: 1;
			}
		} // &--small

		&--clear {
			background: transparent;
			border: 1px solid $white;

			&:active,
			&:focus,
			&:hover {
				background: transparent;
				border: 1px solid $primary-color;
				opacity: 1;
				transition: border 0.25s ease-in-out;
			}
		} // &--clear
	} // &__button

	// Button adjustments that aren't in _settings.scss.
	.button-group {
		flex-direction: column;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		.button {
			margin-bottom: 25px;

			@include breakpoint(medium) {
				margin-bottom: inherit;
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				} // &:last-child
			} // @include breakpoint(medium) {
		} // .button
	} // .button-group
} // .hero

// Overrides that do what we need but don't affect break code above.
.hero.full {
	margin-bottom: 50px;

	@include breakpoint(medium) {
		margin-bottom: 50px;
	}

	@include breakpoint(large) {
		margin-bottom: 75px;
	}

	@include breakpoint(xlarge) {
		margin-bottom: 100px;
	}
} // .hero.full

//---------------------------------
// Helpers
//---------------------------------

// Image as a background class.
.image-as-background {
	background-position: 75% 50%;
	background-repeat: no-repeat;
	background-size: cover;
} // .image-as-background

//---------------------------------
// 50/50 block
//---------------------------------

// Class along size grid-container.
.fifty-fifty {
	margin-bottom: 65px;

	@include breakpoint(medium) {
		margin-bottom: 55px;
	}

	.flipped {
		order: 4;

		@include breakpoint(medium) {
			order: 0;
		}
	}

	// H2's top border in 50/50 sections.
	h2 {

		&::before {
			border-top: 4px solid #3498DB;
			content: '';
			display: block;
			margin-top: 10px;
			width: 77px;

			@include breakpoint(medium) {
				margin-top: 50px;
			}
		} // &::before
	} // h2
} // .fifty-fifty

//---------------------------------
// Carousel (Orbit)
//---------------------------------

// The main wrapper for the slider.
.orbit {

	@include breakpoint(large) {
		margin-bottom: 55px;
		margin-top: 120px;
		max-height: 658px;
	}
} // .orbit

// The slide class on the li's.
.orbit-slide,
.orbit-wrapper {

	@include breakpoint(large) {
		max-height: 658px;
	}
} // .orbit-slide

// The bullets for styling of orbit slider.
.orbit-bullets {
	bottom: 54px;

	@include breakpoint(medium) {
		bottom: 64px;
	}

	@include breakpoint(large) {
		bottom: 91px;
	}

	// The active slide button size not a setting in _settings.scss.
	button.is-active {
		height: 16px;
		width: 16px;
	} // button.is-active
} //.orbit-bullets

// The orbit slider caption positioning.
.orbit-caption {
	bottom: 72%;
	color: $white;
	text-align: center;
	transform: translateY(72%);

	// Styling for header title of slide.
	h2 {
		color: $white;
	} // h2

	// Styling of subtext on slider.
	p {
		font-size: 16px;

		@include breakpoint(medium) {
			font-size: 24px;
		}
	} // p
} // .orbit-caption

.orbit-previous,
.orbit-next {
	opacity: 0;
} // .orbit-previous, .orbit-next

.orbit-wrapper:hover .orbit-previous,
.orbit-wrapper:hover .orbit-next,
.orbit-previous:focus,
.orbit-next:focus {
	opacity: 1;
} // .orbit-wrapper:hover .orbit-previous, .orbit-wrapper:hover .orbit-next, .orbit-previous:focus, .orbit-next:focus

//---------------------------------
// Card Grid Section
//---------------------------------

.card-grid {
	.card {
		margin: 0 auto 25px;
		max-width: 300px;

		@include breakpoint(medium) {
			margin-bottom: 1rem;
		}
	}
} // .card-grid

//---------------------------------
// Footer
//---------------------------------

// The top section of the footer which has email signup.
.footer__primary {
	background: $smoke;
	padding: 61px $global-padding;
	text-align: center;

	@include breakpoint(large) {
		padding: 112px 0;
	}
} // .footer__primary

// The email signup portion of the top seciton of footer.
.footer__signup {

	// The input field.
	.input-group-field {
		border-radius: 100px;
		line-height: 1;
		margin-bottom: 20px;
		padding: 24px 30px;
		position: relative;


		@include breakpoint(medium) {
			border-radius: 100px 0 0 100px;
			margin-bottom: 0;
			transform: translateX(0.5rem);
		}
	} // .input-group-field 

	// The wrapper for field and button.
	.input-group {
		flex-direction: column;
		margin-bottom: 0;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		@include breakpoint(large) {
			height: 73px;
		}

		// The submit button.
		.button {
			border-radius: 100px;
			height: 73px;
			position: relative;
			width: 100%;

			@include breakpoint(medium) {
				border-radius: 0 100px 100px 0;
				height: inherit;
				min-width: 131px;
				transform: translateX(-0.5rem);
			}
		} // .button
	} // .input-group
} // .footer__signup

// The Wrapper around copyright and logo.
.footer__secondary {
	padding: 50px rem-calc(40);

	@include breakpoint(large) {
		padding: 40px 0;
	}

	.grid-x {
		display: flex;
		flex-direction: column;
		min-height: 110px;

		@include breakpoint(medium) {
			flex-direction: row;
			min-height: inherit;
		}
	}
} // .footer__secondary

// The copyright text.
.footer__copyright {
	display: flex;
	text-align: center;

	@include breakpoint(medium) {
		text-align: right;
	}
} // .footer__copyright